@import './mixin.styl'

.icon-invite
  icon-image('icon-invite')

.icon-live
  icon-image('icon-live')

.icon-luckdraw
  icon-image('icon-luckdraw')

.icon-sign
  icon-image('icon-sign')

.icon-button-right
  icon-image('icon-button_right')

.icon-collected
  icon-image('icon-collection_2')

.icon-unselect
  icon-image('icon-collection_1')

.icon-buyer
  icon-image('icon-many')

.icon-customer-service
  icon-image('icon-my_service1')

.icon-share-polite
  icon-image('icon-share_polite')

.icon-money
  icon-image('icon-money_1')
